* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  width: 100%;
   background: #0F172A;
}

.container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 420px;
  background: #1E293B;
  color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.top-section {
  display: flex;
  padding: 15px;
  position: relative;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #2e282877;
}

.status {
  margin-top: 17px;
  background: #22c55e;
  color: white;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 18px;
  transition: all ease 1s;
  cursor: pointer;
}
.status:active{
  transform: scale(2.3);
}

.center {
  flex: 1;
  margin-left: 25px;
}

.center h2 {
  font-size: 30px;
  color: white;
  font-weight: 500;
}

.center h4 {
  color: #ddcfcf;
  margin-top: 8px;
  font-weight: 500;
}

.center p {
  color: #cfc2c2;
  margin-top: 12px;
}

.stats {
  display: flex;
  margin-top: 25px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

.stats div {
  flex: 1;
  text-align: center;
  border-right: 1px solid #ddd;
}

.stats div:last-child {
  border-right: none;
}

.stats h3 {
  color: rgb(66, 130, 226);
  margin-bottom: 5px;
}

.stats span {
  color: rgb(82, 124, 179);
}

.edit-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 8px 15px;
  border: 1px solid #3b82f6;
  background: white;
  color: #3b82f6;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: all ease 1s;
}
.edit-btn:hover{
  background-color: blue;
  color: white;
}

.bottom-section {
  display: flex;
  border-top: 1px solid #ddd;
}

.bottom-section button {
  flex: 1;
  padding: 18px;
  border: none;
  background: white;
  color: #3b82f6;
  font-size: 16px;
  cursor: pointer;
}

.bottom-section button:hover {
  background: #f8f8f8;
}

.header{
    width:100%;
    height:80px;
    padding:0 5%;
    display:flex;
    align-items:center;
    justify-content:space-between;

    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);

    border-bottom:1px solid rgba(255,255,255,0.1);
    position:sticky;
    top:0;
    z-index:100;
}

.logo h2{
    color:rgba(57, 57, 238, 0.952);
    font-size:1.8rem;
    letter-spacing:1px;
    font-weight: 500;
}

nav{
    display:flex;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:#cbd5e1;
    font-size:1rem;
    transition:.3s;
}

nav a:hover{
    color:#38bdf8;
}

.header button{
    padding:12px 24px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-weight:600;

    background:linear-gradient(
      135deg,
      #38bdf8,
      #2563eb
    );

    color:white;
}
.footer{
    width:100%;
    margin-top:60px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(15px);
    border-top:1px solid rgba(255,255,255,0.1);
}

.footer-top{
    padding:50px 8%;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:40px;
}

.footer-logo{
    max-width:350px;
}

.footer-logo h2{
    color:#fff;
    margin-bottom:15px;
}

.footer-logo p{
    color:#94a3b8;
    line-height:1.7;
}

.footer-links{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.footer-links h3{
    color:#fff;
    margin-bottom:10px;
}

.footer-links a{
    text-decoration:none;
    color:#94a3b8;
    transition:.3s;
}

.footer-links a:hover{
    color:#38bdf8;
}

.footer-bottom{
    text-align:center;
    padding:20px;
    border-top:1px solid rgba(255,255,255,0.08);
}

.footer-bottom p{
    color:#94a3b8;
}